.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formulario > div{
    display: flex;
}

.link{
    display:flex;
    margin:0;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}