.area{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--area-porta-altura);
    width: var(--area-porta-largura);
    margin: 5px;
}

.estrutura{
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    border-left: 5px solid brown;
    border-right: 5px solid brown;
    border-top: 5px solid brown;
    width: 90%;
    background-color: black;
}

.porta{
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    align-items: center;
    padding: 15px;
    flex-grow: 1;
}

.numero{
    font-size: 3rem;
}

.macaneta{
    position: absolute;
    top: calc(0.45 * var(--area-porta-altura));
    align-self: flex-start;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: brown;
}

.chao{
    height: 10px;
    width: 100%;
    background-color: white;
}

.selecionada{
    border-left: 5px solid gold;
    border-right: 5px solid gold;
    border-top: 5px solid gold;
}

.selecionada .numero{
    color:gold;
}

.selecionada .macaneta{
    background-color:gold;
}