.presente{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tampa {
    width: 100px;
    height: 25px;
    background-color: #7AA944;
}

.corpo {
    width: 90px;
    height: 60px;
    background-color: #5C7E32;    
}

.laco1{
    background-color: red;    
    position: absolute;
    width: 15px;
    height: 85px;
}

.laco2{
    position: absolute;
    background-color: red;    
    top: 40px;
    width: 90px;
    height: 15px;
}